.box {
    background-color: aqua;
}
.box2 {
    background-color: greenyellow;
    margin: 0 auto;
    /* padding-left: 0;
    padding-right: 0; */
    
}

.box2 h1{
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}

.brand{
    background: #4aaaa5;
    float: left;
    text-align: center;
    color: white;
}

.links {
    background-color: bisque;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 0; 
}

ul{
margin-bottom: 0;
}
